-
    var courseItems = [
        {
            name: "Основы JavaScript",
            content: "Видеокурс о одном из самых популярных языков " +
                     "программирования - JavaScript. Изучая этот курс " +
                     "вы познаете этот прекрасный язык от самых основ.",
            duration: "24 урока (6 часов 46 минут)",
            id: "js"
        },
        {
            name: "Основы JQUERY",
            content: "Видеокурс о одном из самых популярных языков " +
                     "программирования - JavaScript. Изучая этот курс вы познаете " +
                     "этот прекрасный язык от самых основ.)",
            duration: "11 уроков (2 часа 6 минут)",
            id: "jquery"
        },
        {
            name: "Базовые элементы страницы",
            content: "Видеокурс по верстке и программированию основных и популярных " +
                     "элементов сайтов. Посмотрев этот курс вы научитесь создавать табы, " +
                     "аккордеон, слайдшоу, слайдер и т.д.",
            duration: "9 уроков (2 часа 7 минут)",
            id: "base"
        },
        {
            name: "Создание адаптивных сайтов",
            content: "В этом курсе вы узнаете как создавать адаптивные сайты, " +
                     "что такое адаптивная верстка и дизайн.",
            duration: "7 уроков (2 часа 11 минут)",
            id: "adaptive"
        },
        {
            name: "Верстка адаптивной css галереи",
            content: "В этом видеокурсе вы изучите инструменты, техники и подходы " +
                     "для web-разработчика, которые помогут вам решать поставленные задачи " +
                     "более быстро и эффективно.",
            duration: "6 уроков (1 час 9 минут)",
            id: "generator"
        },
        {
            name: "Верстка адаптивной css галереи",
            content: "В этом курсе мы разберем как сверстать адаптивную css галерею. " +
                     "Также познакомимся с Flexbox.",
            duration: "4 урока (50 минут)",
            id: "gallery"
        }
    ];

include mixin
div.courses__items
    each item in courseItems
        +courseItem(item)