.page-header {
  background-color: $green;
  box-shadow: 0 5px 5px rgba(0, 0, 0, .2);
  padding: 13px 0 15px;
  font-size: 0;

   &__container {
     @include clearfix();
     min-height: 60px;
     width: 1140px;
     margin: 0 auto;
   }
}